<!-- <div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h3>Sales</h3>
        <div style="display: block">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-6"><app-dona></app-dona></div>
  <div class="col-6">
    <app-dona
      [data_dona]="Data_1"
      [type_dona]="Type_1"
      [title_dona]="Title_1"
      [label_dona]="Label_1"
      saludo="HolaHola"
    ></app-dona>
  </div>
  <!-- [data]="data_1" -->
</div>
<div class="row">
  <div class="col-6"><app-dona saludo="HolaHola"></app-dona></div>
  <div class="col-6"><app-dona></app-dona></div>
</div>
